@import "tailwindcss";
@source "../components";

@layer base {
  body {
    background-color: #000000;
    background-image: radial-gradient(circle at top, #1f1f1f 0%, #000000 70%);
    color: #ffffff;
    min-height: 100vh;
  }
}
